<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add Photoset</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.addPhotoset(form)" novalidate>

        <div class="form-group">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.photoset.name" required>
        </div>

        <div class="form-group">
          <label>Narrative</label>

          <input type="text" name="narrative" class="form-control" ng-model="vm.photoset.narrative" required>
        </div>

        <div class="form-group">
          <label>Location</label>

          <input type="text" name="location" class="form-control" ng-model="vm.photoset.location" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.narrative.$error.required && vm.submitted">
             Please enter a photoset narrative.
          </p>
          <p class="help-block" ng-show="form.name.$error.name && vm.submitted">
             Please enter a photoset name.
          </p>


          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div class="well">
          <label>Photos</label>
          <div action="" class="dropzone" dropzone="" id="dropzone">
              <div class="dz-default dz-message">
              </div>
          </div>
        </div>

        <div class="pull-right">
          <button class="btn btn-success" ng-click="vm.uploadFile()">Upload File</button>
          <button class="btn btn-danger" ng-click="vm.resetDropzone()">Clear Photos</button>
        </div>


        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Create
          </button>

        </div>
      </form>
    </div>
  </div>


</div>
