$black: #1a1a1a;
$white: #a5a5a5;
$serif: "adobe-caslon-pro", Georgia;

// Photoset View
// ===============================
.photoset-container {
  position: absolute;
  width: 100%;
  color: $white;
  background-color: $black;
  padding-bottom: 8%;

}

.photo-container {
  max-width: 80%;
  margin: 0 auto;

  & .img-fluid {
    max-width: 100%;
  }

  & .byline {
    color: $white;
    width: 100%;
    text-align: right;
  }
}

.photo-container-padding {
  padding: 8% 8% 0% 8%;

  // & img:last-child {
  // }
}

.photo-container-cover {
  overflow-x: hidden;
  display: block;
  width: 100%;
  height: 100%;
  font-family: $serif;
  box-sizing: border-box;

  & h1 {
    position: relative;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-family: "Abril Fatface";
    // Make font size responsive
    font-size: 11em;
    color: white;
  }

  & img {
    opacity: 0.4;
  }

  & .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
  }
  & .narrative {
    position: absolute;
    width: 100%;
    text-align: right;
    padding-right: 2%;
    bottom: 0;
    font-size: 20px;
    color: white;
  }

  & .cover-image {
    background-size: cover;
    position: relative;
    // background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw !important;
  }
}

// Add Photoset View
// ===============================
.add-photoset-container {
  font-family: "Open Sans";
  width: 100vw;
  height: 100vh !important;
  padding: 80px;
  background-color: $black;
  color: white;
  & h1 {
    color: white;
    border: 2px solid white;
    width: 285px;
    font-size: 36px;
    padding: 20px;
    border-radius: 4px;
  }

  .photoset-form {
    margin-top: 30px;
  }

  .pull-left {
    float: left;
    width: 30%;
  }

  .pull-right {
    margin-left: 40px;
  }

  & #narrative-input {
    // float: right;
    width: 100%;
    height: 108px;
  }

  & #narrative-group {
    width: 65%;
    margin-left: 35%;
  }

  & .photo-dropzone {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  & button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.333;
    border-radius: 4px;

    color: white;
    background-color: $black;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid white;
  }

  & button:hover {
    background-color: white;
    color: black;
  }
}

// Photosets View
// ===============================
.photosets-container {
  width: 100vw !important;
  height: 100vh;
  background-color: white;
  margin: 0 auto;
  padding-top: 40px;
  // text-align: center;

  & .photo-grid-left {
    padding: 0;
    width: 44%;
    margin: 0 auto;
    float: left;
    & li {
      position: relative;
      text-align: right;
      margin: 0;
      max-width: 100%;
    }
  }

  & .photo-grid-right {
    padding: 0;
    width: 54%;
    margin: 0 auto;
    float: right;
  }

  & .photoset-name {
    position: relative;
    bottom: 0;
    font-family: 'Open Sans';
    width: 100%;
    font-size: 40px;
    color: black;
  }

  & .photo-grid-left li, .photo-grid-right li {
    margin-bottom: 20px;

    & img {
      border-radius: 4px;
    }
  }

  & .photo-grid-left .photoset-name {
    text-align: right;
  }

  & .photo-grid-right .photoset-name {
    text-align: left;
  }

  // & .clearfix-title-wrap {
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
  // }

  & h1 {
    margin-bottom: -10px !important;
    font-family: "adobe-caslon-pro";
    font-size: 55px;

    @media(max-width: 768px) {
      & {
        display: none;
      }
    }
  }


  & li {
    list-style: none;
  }

  & .photoset-item {
    margin: 0 auto;

    & img {
      max-width: 80%;
      height: auto;
    }
  }
}

/* fade image in after load */
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
