<div class="photo-container-cover">

  <div class="cover-image" ng-style="{'background-image': 'url(' + vm.photoset.coverImageURL + ')'}">
    <div class="blur"></div>
    <h1 class="photoset-name">{{vm.photoset.name}}</h1>
    <span class="narrative">{{vm.photoset.narrative}}</span>
  </div>
  <!-- <div>
    <img ng-src="{{vm.photoset.coverImageURL}}" alt="" class="img-fluid">
  </div> -->
</div>

<div class="photoset-container">
  <!-- If there's a description/quote for the photoset add it here -->

  <!-- Don't show cover image - ng-if -->
  <div ng-if="photo.imageSource != vm.photoset.coverImageURL" class="photo-container photo-container-padding" ng-repeat="photo in vm.photos">
    <img class="img-fluid lazyload" data-src="{{photo.imageSource}}" alt="">
    <span ng-if="photo.byline !== null" class="byline">{{photo.byline}}</span>
  </div>
</div>

<script type="text/javascript">
  window.onbeforeunload = function(){
    window.scrollTo(0,0);
  }
</script>
