$serif: "adobe-caslon-pro", Georgia, Serif;
$black: #1a1a1a;
$white: #a5a5a5;

@font-face {
    font-family: "Proxima Nova";
    font-style: regular;
    font-weight: regular;
    src: url("/assets/fonts/Proxima Nova Regular.otf") format("opentype");
}
