$serif: "adobe-caslon-pro", Georgia, Serif;

@font-face {
    font-family: "Proxima Nova";
    font-style: regular;
    font-weight: regular;
    src: url("/assets/fonts/Proxima Nova Regular.otf") format("opentype");
}
